<% layout('/layouts/boilerplate') %>  <!-- By Ejs-Mate-->
<body>
    <h3>All Lisitngs</h3>
    <!-- <form action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <ul>
        <% for (const listing of allListings) { %>
            <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
</body>
