<% layout('/layouts/boilerplate') %>  
<body>
    <form action="/listings" method="POST">
        <input type="text" name="listing[title]" id="title" placeholder="Enter Title">
        <br> <br>
        <textarea name="listing[description]" id="description" placeholder="Enter Description"></textarea>
        <br> <br>
        <input type="text" name="listing[image]" id="image" placeholder="Enter Image URL/Link">
        <br> <br>
        <input type="number" name="listing[price]" id="price" placeholder="Enter Price">
        <br> <br>
        <input type="text" name="listing[country]" id="country" placeholder="Enter Country">
        <br> <br>
        <input type="text" name="listing[location]" id="location" placeholder="Enter Location">
        <br> <br>
        <button>Create Listing</button>
    </form>
</body>