body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

.container {
    flex: 1;
}

.navbar {
    min-height: 5rem;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info {
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    height: 20rem;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400; 
}

.listing-tile {
    text-decoration: none;
    color: #222222; 
    display: flex;
    justify-content: center;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Show Page */
.btn-cont {
    display: flex;
}

.btn-cont a {
    margin-right: 1rem;
}

/* MAp */
#map { 
    height: 400px; 
    width: 100%;
 }

/* Categories    */
 .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter-container .child-1 {
    display: flex;
    flex-wrap: wrap;
}
.filter-container .child-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 260px;
    margin-top: 20px;
}

.filter-container .child-2 label {
    margin-right: 2rem;
    margin-bottom: 3px;
    font-size: 0.9rem;
}

.filter {
    text-align: center;
    margin: 20px 0 20px 40px;
    opacity: 0.7;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.search-btn {
    padding: 5px 20px;
    border-radius: 25px;
    background-color: #fe424d;
    color: white;
    border: none;
}

.search-btn:hover {
    opacity: 0.8;
}

.search-btn i {
    display: inline;
    margin-right: 10px;
}

.search-input {
    border-radius: 25px !important;
    padding: 5px 50px !important;
    font-size: 1rem !important;
}

.SBnB-btn {
    background-color: #fe424d;
    color: white !important;
    border: none;
    font-size: 1rem;
    text-align: center;
    border-radius: 25px;
    padding: 5px 20px;
    opacity: 0.8;
    height: 40px !important;
    width: 150px !important;
    align-self: center;
}

.fa-user {
    align-self: center;
}

.SBnB-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.login-btn {
    color: white !important;
    font-size: 0.8  rem !important;
    padding: 5px !important;
}

@media (max-width: 990px) {
    .filter-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .filter-container .child-1 {
        margin-bottom: 1rem;
    }
    .filter-container .child-2 {
        margin-bottom: 1rem;
    }
    .SBnB-btn {
        margin: 1rem 0;
    }
}

@media (max-width: 768px) {
    .filter-container .child-1 {
        flex-direction: column;
    }
    .filter {
        margin: 20px 0 20px 0;
    }
    .filter-container button {
        margin-top: 1rem;
    }
}